*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-one {
    background-color: rgb(182, 30, 212);
    height: 100vh;
    color: #ffffff;
    position: relative;
}

.navbar{
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.navbar__item {
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar__item_active {
    background-color: rgb(121, 0, 121);
}

.navbar__item:hover {
    background-color: rgb(131, 0, 131);
}

.navbar__logo {
    color: #ffffff;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-family: cursive;
}

.section-one article{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-one article h1 {
    width: 70%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
}

.btn{
    padding: 20px 25px;
    background-color: rgba(241, 132, 150, 0.986);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

/* section-two */

.section-two{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 151, 139);
}

#about{
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration-color: ghostwhite;
}

.card-2{
    text-decoration-color: ghostwhite;
    text-align:center;
    font-size: 20px;
    padding-top:15px;
    padding: 25px;
}

.section-two_list{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-card_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card_two-header{
    text-transform: uppercase;
    text-align: center;
}
.card_two-text{
    text-align: center;
}

.section-two_img {
    display: flex;
    width: 60%;
}

/* section-three */

.section-three {
    min-height: 100vh;
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
/*     justify-content: center;
 */    align-items: center;
}

.section-three_title{
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    padding-top: 30px;
}

.section-three_title:after{
    content:'';
    position:absolute;
    border-bottom: 2px solid black;
    margin-top: 20px;
    width: 70px;
    bottom: -10px;
    left: calc(50% - 35px);
}

.section-three_discription{
    max-width: 400px;
    font-size: 1.2rem;
    text-align: center;
}

.section-three_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
}

.section-three_item{
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card_img {
    height: 12rem;
    width: 12rem;
    background: rgb(163, 163, 163);
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    border-radius: 6rem;
}

.card_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color:rgb(22, 22, 22);
}

.card_title {
    color:rgb(148, 148, 224);
}

.card_discription {
    margin: 10px 0px;
    text-align: center;
}

.card_link-list {
    display: flex;
    justify-content: space-between;
}

.card__link-item{
    background-color: rgb(145, 145, 145);
    padding: 5px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.section-three a {
    text-decoration: none;
}

.vk:hover {
    color: white;
    background-color: blue;
}

.twitter:hover {
    color: white;
    background-color: turquoise;
}

.facebook:hover {
    color:white;
    background-color: darkblue;
}

.youtube:hover {
    color: white;
    background-color: tomato;
}

/* section four */

.section-four {
    min-height: 61vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-four_title {
    color: black;
    text-transform: uppercase;
    position: relative;
    font-size: 2.2rem;
    margin-top: 88px;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.section-four_title:after{
    content:'';
    position:absolute;
    border-bottom: 3px solid rgba(192, 192, 192, 0.603);
    margin-top: 20px;
    width: 72px;
    bottom: -15px;
    left: calc(50% - 35px);
}

.section-four p {
    margin-top: 38px;
    width: 499px;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

.section-four_list {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-four_list h3 {
    font-size: 1.2rem;
    margin-left: 90px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

/* section five */

.section-five {
    min-height: 163vh;
    background-color: rgb(255, 220, 152);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-five_title {
    text-transform: uppercase;
    margin-top: 90px;
    font-size: 2.1rem;
    position: relative;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.section-five_title::after {
    content:'';
    position:absolute;
    border-bottom: 3px solid rgba(192, 192, 192, 0.603);
    margin-top: 20px;
    width: 70px;
    bottom: -16px;
    left: calc(50% - 35px);
}

.section-five_description {
    margin-top: 10px;
    width: 480px;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

.section-five_list_buttons {
    margin-top: 34px;
    justify-content: space-around;
}

.section-five_button {
    border: none;
    height: 37px;
    width: 70px;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.418);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;

}

.section-five_button:hover {
    background-color: rgba(204, 204, 204, 0.555);
}

.section-five_list {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-five_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

.section-five_item h3 {
    margin: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;

}

.section-five_load_button {
    margin-top: 40px;
    text-transform: uppercase;
    background-color: rgb(23, 193, 164);
    border-radius: 5px;
    width: 232px;
    height: 52px;
    color: rgb(253, 253, 253);
    font-size: 1rem;
    border: none;
    font-family: 'Titillium Web', sans-serif;

}

.section-five_img {
    width: 87%;
}

/* section six */

.section-six {
    min-height: 100vh;
    background-color: rgb(215, 70, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-six_title {
    text-transform: uppercase;
    color: #fff;
    margin-top: 90px;
    font-size: 2.1rem;
    position: relative;
    margin-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.section-six_title::after {
    content:'';
    position:absolute;
    border-bottom: 3px solid rgba(192, 192, 192, 0.603);
    margin-top: 20px;
    width: 70px;
    bottom: -16px;
    left: calc(50% - 35px);
}

.section-six_description {
    margin-top: 10px;
    width: 480px;
    text-align: center;
    color:rgb(199, 198, 198);
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    padding-bottom: 9px;
}

.section-six_img {
    height: 5rem;
    width: 5rem;
    background: rgb(120, 120, 120);
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    border-radius: 2.5rem;
    min-width: 5rem;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 50px;
}

.section-six_list {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section-six_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 555px;
    padding-bottom: 109px;
}

.section-six_item2 {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-six_item_text {
    padding-top: 17px;
    color: #fff;
    display: inline-block;
    width: 300px;
    line-height: 1.5;
}

.section-six_item_name {
    color: #fff;
    font-family: 'Karla', sans-serif;
    padding-top: 16px;
}

.section-six_item_des {
    color: rgb(236, 167, 120);
    font-size: 0.9rem;
    padding-top: 6px;
    font-family: 'Karla', sans-serif;

}



@media screen and (max-width: 960px) and (min-width:501){
    .section-two_list{
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .list-card_two {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 10px;
        width: 80%;
    }

    .section-three_list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
}

@media screen and (max-width: 500px){
    .navbar__list{
        display: none;
    }

    .navbar__logo {
        padding-top: 15px;
        font-size: 3rem;
    }

    .section-two_list{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .list-card_two {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .section-two_img {
        width: 60%;
    }

    .section-three_list{
        display: grid;
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .section-five_list {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
    }


}